.btn {
  display: inline-block;
  font-size: 24px;
  font-family: "Open sans", sans-serif;
  text-align: center;
  text-decoration: none;
  color: #fff;
  height: 63px;
  width: 164px;
  font-weight: 400;
  line-height: 33px;
  left: 0px;
  top: 43px;
  border-radius: 5px;
  padding: 15px, 30px, 15px, 30px;
  background-color: orange;
}

.btn-big {
  padding: 23px;
  background-color: orange;
  width: 842px;
  height: 63px;
  left: 299px;
  top: 781px;
}

