.header {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  left: 0px;
  top: 0px;
  margin: 0 auto;
  background-color:#152B3C;
}

.header_wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  align-items: center;
}

.main-nav {
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  background: #333;
}

.main-nav_list {
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none; /* убираем маркеры */
}

.logo {
  display: block;
  text-align: left;
  padding: 25px 202px 25px 81px;
}

.header_tel {
  display: block;
  width: 219px;
  height: 33px;
  left: 1140px;
  top: 33.5px;
  font-family: Roboto, sans-serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 33px;
  text-align: right;
  color: #FBF2DA;
}
