.info {
  background-image: url(../images/info-presentation-sand-castle.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.info-text {
  font-family: Open Sans, sans-serif;
  font-size: 32px;
  letter-spacing: 0em;
  text-align: center;
  color: #FFFFFF;
}
