.info {
  background-image: url(../images/info-presentation-sand-castle.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.info_ttl {
  margin-top: 191px;
  margin-right: 436px;
  margin-left: 435px;
  margin-bottom: 0;
}

.info-text {
  font-family: Open Sans, sans-serif;
  font-size: 32px;
  letter-spacing: 0em;
  line-height: 44px;
  text-align: center;
  margin-top: 0;
  margin-right: 170px;
  margin-left: 169px;
  margin-bottom: 235px;
  color: #FFFFFF;
}
