.master-classes {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 1440px;
  height: 1048px;
  background-color: rgba(251, 242, 218, 0.2);
}

.master-classes-title {
  margin-top: 100px;
}

.master-classes_list {
  display: flex;
  flex-wrap: wrap;
  width: 1278px;
  height: 730px;
  justify-content: space-between;
  margin-top: 50px;
  margin-left: 81px;
  margin-right: 81px;
  margin-bottom: 100px;
}

.master-classes_item {
  text-align: center;
  width: 406px;
  height: 730px;
  background-size: cover;
  border: 1px solid rgba(21, 43, 60, 0.1);
}

.master-class {
  display: flex;
  flex-direction: column;
}

.master-class_ul {
  list-style: none; /* убираем маркеры */
}

.master-class_li {
  font-family: "Open sans", sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #D46240;
}

.master-class_text {
  font-size: 18px;
  line-height: 25px;
  margin-right: 16px;
  margin-left: 16px;
  color: #152b3c;
}

.master-class_btn {
  font-size: 28px;
  font-weight: semibold;
  background: center;
  text-align: center;
  color: #D46240;
}

.icon_btn {
  display: block;
  font-size: 28px;
  font-weight: semibold;
  background-position: center;
  text-align: center;
  color: #D46240;
}


