$h1-fz-mobile: 20px;
$h1-fz-tablet: 32px;
$h1-fz-desktop: 48px;
$h1-fw: 400;


// Indent
$column-gap: 30px;
$column-gap-half: $column-gap / 2;

// Braikpoints
$desktop: 1280px;
$tablet: 768px;
$mobile: 320px;

$braikpoint-mf-mobile: $mobile;
$braikpoint-mf-tablet: $tablet;
$braikpoint-mf-desktop: $desktop;

$braikpoint-df-mobile: ($tablet - 1);
$braikpoint-df-tablet: ($desktop - 1);
