// Color
$color-base-dark: #333;
$color-accent: #FF2D2D;
$color-black: #000;
$color-white: #fff;
$color-form-bg: #e5e5e5;
$color-bg-light: #f6f2f2;

// Fonts
$font: 'Open Sans', sans-serif;

$h1-fz-mobile: 20px;
$h1-fz-tablet: 32px;
$h1-fz-desktop: 48px;
$h1-fw: 400;

// Indent
$column-gap: 32px;
$column-gap-half: $column-gap / 2;

$indent-section-top: 130px;
$indent-section-bottom: 130px;

// Braikpoints
$desktop: 1280px;
$tablet: 768px;
$mobile: 320px;

$braikpoint-mf-mobile: $mobile;
$braikpoint-mf-tablet: $tablet;
$braikpoint-mf-desktop: $desktop;

$braikpoint-df-mobile: ($tablet - 1);
$braikpoint-df-tablet: ($desktop - 1);
